<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{'USER.ACCOUNT' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="change-password">
  <form [formGroup]="changePasswordGroup" novalidate (ngSubmit)="changePassword()" *ngIf="!displaySpinner">
    <mp-new-password [passwordControl]="changePasswordGroup.get('password')" [fieldLabel]="'USER.CURRENT_PASSWORD'"></mp-new-password>
    <mp-new-password [passwordControl]="changePasswordGroup.get('newPassword')" [fieldLabel]="'USER.NEW_PASSWORD'"></mp-new-password>
    <ion-button [disabled]="changePasswordGroup.invalid" type="submit" expand="block"> {{'FORM.SAVE' | translate}} </ion-button>
    <ion-button color="danger" (click)="deleteUserAccount()" class="change-password__delete-account-btn" expand="block">
      {{ 'MEMBER.DELETE_MY_ACCOUNT' | translate }}
    </ion-button>
  </form>
  <ion-spinner class="change-password__mp-page-spinner" name="crescent"color="warning" *ngIf="displaySpinner"></ion-spinner>
</ion-content>
