<div class="app-new-password">
  <ion-item>
    <ion-input name="password" inputmode="password" placeholder="{{ fieldLabel | translate }}" [formControl]="passwordControl"
      [type]="displayPassword ? 'text' : 'password'">
    </ion-input>
    <ion-icon slot="end" (click)="displayPassword = !displayPassword" name="{{displayPassword ? 'eye-off' : 'eye'}}"
      class="app-new-password__content__form__field__icon"></ion-icon>
  </ion-item>
  <ion-note color="danger" *ngIf="passwordControl.invalid && passwordControl.dirty">
    <div class="app-new-password__error" *ngIf="passwordControl.errors.required">
      {{ fieldLabel | translate }} {{'FORM.IS_REQUIRED' | translate}}
    </div>
    <div class="app-new-password__error" *ngIf="passwordControl.errors.validatePassword">
      {{'FORM.ENTER_VALID_PASSWORD' | translate}}
    </div>
  </ion-note>
</div>
