<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink='/login'>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{"LOGIN.FORGET_PASSWORD" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="forget-password-page">
  <form #forgetPasswordForm="ngForm" (ngSubmit)="requestResetPassword(forgetPasswordForm.value)" novalidate [hidden]="displayMessageCard">
    <ion-item lines="none">
      <ion-label class="forget-password-page__bold">
        {{"RESET_PASSWORD.SEND_RESET_LINK_TO" | translate}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-input ngModel #email="ngModel" name="email" required email inputmode="email" type="email" [placeholder]="'USER.EMAIL'| translate"></ion-input>
    </ion-item>
    <ion-button padding type="submit" [disabled]="forgetPasswordForm.invalid" expand="block" color="primary" fill="outline">
      {{ displaySpinner? '' : 'SEND' | translate }}
      <ion-spinner name="dots" *ngIf="displaySpinner"></ion-spinner>
    </ion-button>
  </form>
  <ion-item-group *ngIf="displayMessageCard && !displaySpinner">
    <ion-item lines="none">
      <ion-text>{{'RESET_PASSWORD.IF_YOU_HAVE_ACCOUNT' | translate}}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text class="forget-password-page__bold">
        {{ forgetPasswordForm.controls.email.value}}
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text> {{'RESET_PASSWORD.RESET_PASSWORD_LINK_SENT' | translate}}
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text class="forget-password-page__bold"> {{'REGISTER.EMAIL_NOT_RECEIVED' | translate}} </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text (click)="requestResetPassword(forgetPasswordForm.value)" class="forget-password-page__link">
        {{'RESET_PASSWORD.SEND_MAIL_AGAIN' | translate}} </ion-text>
    </ion-item>
    <ion-button padding routerLink="/login" expand="block" color="primary" fill="outline">
      {{ 'LOGIN.GO_TO_LOGIN' | translate }}
    </ion-button>
  </ion-item-group>
  <ion-spinner *ngIf="displayMessageCard && displaySpinner" class="forget-password-page__spinner" name="crescent" color="primary"></ion-spinner>
</ion-content>
