@import "../../theme/variables.scss";

.forget-password-page {
  &__link {
    color: $mp-color-base-bright-shade-3;
  }
  &__bold {
      font-weight: 500;
  }
  &__spinner {
    display: block;
    margin: auto;
    margin-top: 50px;
  }
}
