@import "../../theme/variables.scss";

.app-set-new-password {
  &__bold {
      font-weight: 500;
  }
  &__spinner {
    display: block;
    margin: auto;
    margin-top: 50px;
  }
  &__input {
    width:100%;
  }
}
