<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{"LOGIN.FORGET_PASSWORD" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="app-set-new-password">
  <ion-item *ngIf="checkResetState === State.ERROR">
    <ion-label color="danger">
      {{ 'RESET_PASSWORD.EXPIRED_LINK_OR_INVALID' | translate}}
    </ion-label>
  </ion-item>
  <form novalidate *ngIf="checkResetState === State.SUCCESS && resetPasswordForm" [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword(resetPasswordForm.value)">
    <ion-item lines="none">
      <ion-label class="app-set-new-password__bold">
        {{"RESET_PASSWORD.SET_NEW_PASSWORH_HERE" | translate}}
      </ion-label>
    </ion-item>
    <mp-new-password class="app-set-new-password__input" [passwordControl]="resetPasswordForm.get('password')"
      [fieldLabel]="'USER.NEW_PASSWORD'"></mp-new-password>
    <ion-button [disabled]="resetPasswordForm.invalid" padding type="submit" routerLink="/login" expand="block" color="primary"
      fill="outline">
      {{ displaySpinner? '': 'FORM.SAVE' | translate }}
      <ion-spinner name="dots" *ngIf="displaySpinner"></ion-spinner>
    </ion-button>
  </form>
  <ion-spinner *ngIf="!resetPasswordForm && displaySpinner" class=" app-set-new-password__spinner" name="crescent"
    color="primary"></ion-spinner>
</ion-content>
